@model CatalogOnline.Logic.AddRemoveStudentViewModel

@{
    ViewData["Title"] = "EliminăStudențiDeLaCurs";
}

<div class="container mt-4">
    <h2>Elimină studenți de la curs</h2>
    <h4>Curs: @Model.Materie.Nume</h4>
    <h4>Profesor: @Model.Profesor.Nume</h4>
    <h4>Anul @Model.An Semestrul @Model.Semestru</h4>
    <form asp-action="RemoveStudent" method="post">
        <input type="hidden" name="an" value="@Model.An" />
        <input type="hidden" name="sem" value="@Model.Semestru" />
        <input type="hidden" name="materieId" value="@Model.MaterieId" />
        <input type="hidden" name="profesorId" value="@Model.ProfesorId" />
        <div class="form-group">
            <label for="studentList">Selectează studenți:</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Student</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.StudentList)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedStudents" value="@student.Id" />
                            </td>
                            <td>@student.Nume</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <button type="submit" class="btn btn-danger">Elimină studenții selectați de la curs</button>
    </form>
</div>
